@font-face {
  font-family: Raleway;
  src: url(font/Raleway-Italic-VariableFont_wght.ttf);
  src: url(font/Raleway-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

#stylepage {
  font-family: Raleway;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
}
/*couleur des étoiles */
.blue {
  color: #0065fc;
}

.grey {
  color: #deebff;
}
/* _______________________________________________________________*/

/*Gestion header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  height: auto;
}
/* Style image header */
.logo_normal {
  height: 50px;
  width: 100px;
  padding-top: 20px;
}

.logo_mob {
  display: none;
}
/*pour gerer la disposition des liens*/
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 40px;
  line-height: 50px;
  padding-right: 15px;
  padding-top: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  border-top: solid 2px transparent;
  padding: 0 15px 0 15px;
}

nav a:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}

nav a:visited {
  color: black;
}

/*gestion partie filtre */
section {
  width: 100%;
  height: auto;
}
/*gestion de la box filtres*/
#filtres {
  gap: 15px;
  display: flex;
}
/* Pour l'icone localisation */
.fa-location-dot {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: solid white 0;
  padding: 15px;
  font-size: 15px;
}

/* pour la partie formulaire */
form {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

input {
  border: solid 1px #f2f2f2;
}

input::placeholder {
  font-family: inherit;
  color: black;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  padding-left: 10px;
}

/* pour le bouton recherche*/
button {
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  border: solid white 0;
  color: white;
  padding: 15px;
  font-size: 15px;
  width: 120px;
}

/*vignette filtre*/
section dl {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

dl i {
  color: #0065fc;
  font-size: 17px;
  font-weight: bold;
  background-color: #deebff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

/*Texte filtres*/
section dd {
  font-weight: 900;
  font-size: 16px;
  border: solid 2px;
  border-color: #f2f2f2;
  border-radius: 30px;
  padding: 0 15px 0 0;
  align-self: center;
  display: flex;
  align-items: center;
  border-left-style: none;
  height: 48px;
}

section dt {
  font-weight: bolder;
  align-self: center;
  font-size: 18px;
}

/*pour l'icone Information */
.fa-info {
  color: #0065fc;
  font-size: 17px;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.panneau_filtre p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*gestion partie hébergement*/

main {
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 0;
  gap: 35px;
  display: flex;
  box-sizing: border-box;
}

main article {
  width: 70%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border-radius: 25px 25px;
  box-sizing: border-box;
}

/*gestion de la box image des hotel*/
#images_hotel {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
}

/* taille des blocs images */
.hotel {
  width: 250px;
  border: solid 1px white;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 25px 25px;
  box-shadow: 4px 4px 6px #e6e6e6;
  margin: 0;
}

/* texte carte hotel*/
main article p {
  padding: 0 0 0 10px;
  margin: 0;
}

.texte_hotel {
  font-size: smaller;
  padding-top: 5px;
}

.etoiles_hotel {
  padding-left: 12px;
  font-size: smaller;
  padding-top: 5px;
}
/*titre hotel */
.titre_hotel {
  font-weight: bold;
}

/* gestion des photos */

main article img {
  width: 250px;
  height: 110px;
  border-radius: 25px 25px 0 0;
}

/*titre hotel */
.titre_hotel {
  font-weight: bold;
}

main h2 {
  width: 100%;
  padding-left: 60px;
  padding-top: 20px;
}

.afficher {
  width: 100%;
  padding: 20px 0 30px 60px;
  font-size: large;
  color: black;
  text-decoration: none;
}

.lien_carte {
  text-decoration: none;
  color: black;
}
main i {
  margin-left: -4px;
}
/*gestion du aside*/

aside {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 40px 2%;
  min-width: 375px;
  border-radius: 25px 25px;
  width: 30%;
  background-color: #f2f2f2;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 25px;
}
/* image du aside */
aside img {
  width: 120px;
  height: 120px;
  min-width: 120px;
  border-radius: 25px 0 0 25px;
  box-sizing: border-box;
  object-fit: cover;
}
/*titre du aside */
aside h2 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

aside figure {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 25px 25px;
  box-shadow: 4px 4px 6px #e6e6e6;
  margin: 0;
}

/*titre hotel pop*/
.hotel_nom {
  font-weight: bold;
  box-sizing: border-box;
  padding-right: 20px;
}

aside figcaption {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 10px;
  margin-right: 10px;
}

aside p {
  padding: 10px 0 0 0;
  margin: 0;
}

.etoiles {
  margin-top: auto;
  padding-bottom: 10px;
  font-size: smaller;
}
/*gestion des activités*/

.activite_a_marseille {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding-bottom: 45px;
  height: 100%;
  width: auto;
}
.activite_a_marseille h2 {
  width: 100%;
}

/*image activité */
.activite_a_marseille figure {
  margin: 0;
  box-shadow: 4px 4px 6px #e6e6e6;
  border-radius: 7%;
  height: auto;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.image_activite {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 440px;
  width: 100%;
  box-sizing: border-box;
}
.grandes {
  width: 100%;
  height: 400px;
}

.petites {
  width: 100%;
  height: 110px;
}

.moyennes {
  width: 100%;
  height: 215px;
}

.moitie {
  width: 100%;
  height: 163px;
}

.petite_activites {
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
}

.grandes_activites {
  width: 100%;
  background-color: white;
}

.moyennes_activites {
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
}

.activite_a_marseille figcaption {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}

.activite_lien {
  text-decoration: none;
  color: black;
}
/*gestion footer*/
footer {
  background-color: #f2f2f2;
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  max-width: 1440px;
  box-sizing: border-box;
  padding-left: 25px;
  gap: 110px;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

footer dt {
  font-weight: 900;
  font-size: 20px;
}

footer dd {
  font-size: 15px;
  margin-inline-start: 0;
  padding-top: 15px;
}
#a_propos {
  display: flex;
  flex-flow: column;
  width: 25%;
  height: 100%;
  margin: 0;
  padding-top: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}

#nos_hebergements {
  display: flex;
  flex-flow: column;
  width: 25%;
  margin: 0;
  padding-top: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}

#assistance {
  display: flex;
  flex-flow: column;
  width: 25%;
  margin: 0;
  padding-top: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}
/* pour le responsive tablette */
@media all and (max-width: 992px) {
  #style_page {
    margin: 40px;
  }

  section dt {
    width: 100%;
  }

  main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
  }

  main article {
    width: auto;
  }

  #images_hotel {
    justify-content: space-around;
    gap: 20px;
  }

  aside {
    width: auto;
  }

  aside figure {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
/* pour le responsive mobile */
@media all and (max-width: 768px) {
  body {
    font-size: 16px;
    margin: 0;
    width: 100%;
  }

  .logo_normal {
    display: none;
  }

  .logo_mob {
    display: block;
    height: 50px;
    width: 100px;
    padding-top: 20px;
  }

  /* header en mobile */
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  nav {
    width: 100%;
  }
  nav a {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
    padding: 1%;
    text-align: center;
    box-sizing: border-box;
  }

  nav a:hover {
    border-top: none;
    border-bottom: #0065fc solid 3px;
  }

  /* pour la partie de recherche en mobile */
  .panneau_filtre {
    padding: 0 2%;
  }

  section dt {
    width: 100%;
  }

  section dd {
    margin: 0;
  }
  /* pour le main en mobile */
  main article {
    order: 2;
    padding: 0 5%;
    border-radius: 0;
    background-color: white;
  }
  main aside {
    order: 1;
    border-radius: 0;
    padding: 10% 5%;
  }

  main article h2 {
    padding: 0;
  }
  main article img {
    width: 100%;
    height: 163px;
  }

  .hotel {
    width: 100%;
    margin: 0;
  }

  main article a {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .images_hotel {
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  main article figure {
    width: 100%;
    height: 100%;
  }

  /* pour les activités en mobile */
  .activite_a_marseille {
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .image_activite {
    flex-direction: column;
    height: 100%;
  }

  .image_activite img {
    object-fit: cover;
    object-position: center;
  }
  /*pour la taille des images activité en mobile  */
  .moitie,
  .grandes,
  .petites,
  .moyennes {
    width: 100%;
    height: 163px;
  }
  .petite_activites,
  .moyennes_activites {
    height: 444px;
  }

  article ul figure {
    width: 100%;
  }
  /* pour le footer en mobile */
  footer {
    width: 100%;
    margin: 0;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 0;
    padding-left: 5%;
  }

  #a_propos {
    width: 100%;
    height: 100%;
  }

  #nos_hebergements {
    width: 100%;
    height: 100%;
  }

  #assistance {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
  }
}
